body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    transition: width 0.3s ease; /* 添加過渡效果 */
}

div {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
